#podcast__page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#podcast__info {
    width: 20%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 9px 4px 27px 1px #bebebe;
    border-radius: 5px;
}

#podcast__info hr {
    margin-top: 25px;
    width: 80%;
    background-color: rgb(201, 201, 201);
}

#podcast__info img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

#episode__description {
    width: 50%;
    height: 600px;
}

#episode__description--episode {
    width: 100%;
    padding: 3px 10px 3px 15px;
    box-shadow: 9px 4px 27px 1px #bebebe;
    margin-bottom: 15px;
    border-radius: 5px;
}

#episode__description--episode p {
    font-style: italic;
}

#episode__description--loading {
    width: 100%;
    box-shadow: 9px 4px 27px 1px #bebebe;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#episode__description--loading h4 {
    color:rgb(161, 161, 161);
}

#episode__description--list {
    width: 100%;
    padding: 3px 10px 3px 15px;
    box-shadow: 9px 4px 27px 1px #bebebe;
    margin-bottom: 15px;
    border-radius: 5px;
}

#episode__description--list table {
    width: 100%;
    padding: 20px;
}

#episode__description--list table tr:nth-child(odd) {
    background-color: rgb(226, 226, 226);
}

#episode__description--list table th {
    text-align: left;
}

.episode__description--link {
    text-decoration: none;
    color: rgb(103, 103, 226);
}

.episode__description--button {
    text-decoration: none;
    color: white;
    background-color: rgb(103, 103, 226);
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
}
